/* Responsive CSS */

html {
	-ms-text-size-adjust: 100%
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    min-width: fit-content;
}

main {
  padding-top: 1.2em;
  margin-left: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word
}

.row {
    max-width: 100%;
}

.md--sites .row .row {
    padding: 0
}

.md-top-bar .md-tb-mobile {
    color: #000000;
    background-color: #fff;
}

/* default */
.component-card {
  margin: 1em;
  margin-left: 0;
  flex: 0 0 19vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pad-left {
  padding: 0 0 0 1rem;
}
.md-step {
  margin:1em 0;
  height:22rem;
  cursor: pointer;
}
.component-card h4 {
  line-height: 1.7rem;
  margin:0.25rem; 
}
.work-logo {
  max-height: 9rem;
  margin-right: 1rem;
}
.device-radios {
  display: flex;
  justify-content:space-between; 
  padding: 1rem;
  flex-direction:row;
}
.add-device-section {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  margin-top: .5rem;
}
.toolbox-logo-img {
  max-height:3rem;
  margin-right:.5rem;
}
.catalog-header h5 {
  margin-top: 2rem;
}
.medium-3-cards {
  padding: .25rem;
}
.right-cards {
  padding: 0;
}
.right-cards-md-card-section {
  min-width: 14rem;
}

/* Ex small, small, medium devices
   64.0625em === 1025px
   up to and including iPad @1024
 */
 @media only screen and (max-width:64.0625em) {
  #my_sidebar {
    display: none;
  } 
  .md-top-bar__right {
      display:none;
  } 
  footer .container {
    width:100%;
  } 
  footer .container .copyright {
    width: 100%;
    padding: 1em .25em .25em .75em;
  }
  main {
    margin: 0 1em;
    padding-right:0 !important;
  }
  .toolbox-logo-home {
    font-size: 1.25rem !important;
  }
  .toolbox-logo {
      font-size: 1.25rem !important;
  }
  .component-card h4 {
    margin: .75rem 0;
  }
  .md-top-bar .md-tb-mobile .md-list-item {
      color: #000000;
  }
  .md-list-item:hover:not(.disabled) {
      color: #00a0d1 !important;
  }
  .md-page-header__title {
    margin-bottom: 0.5rem;
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem !important;
    line-height: 1.33334 !important;
    margin-top: 0.5rem; 
  }
  .md-step {
    margin:1em 0;
    height: auto;
  }
  .pad-left {
    padding:0;
  }
  .work-logo {
    max-height: 6rem;
    margin-right: .1rem;
  }
}


/* Ex small  256px to 640px 
   280px Galaxy Fold
   320px — 480px: Mobile devices. 
   (Moto G4, Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 5/SE, iPhone 6/7/8, iPhone 6/7/8 Plus, iPhone X)
*/
@media only screen and (min-width:16em) and (max-width:40em) {

  body {
    min-width: auto;
  }
  .component-card {
    /* flex: 0 0 98vw; */
    flex: 0 0 92vw;
  } 
  .workplace-transformation {
    border:1px solid rgb(251, 171, 24);
    border-radius:8px;
    margin:0 0 1rem 0;
  } 
 .device-radios {
   padding: 1rem 0 0 1rem !important;
   width: 50%;
 }
 .add-device-section {
   margin: 1rem 0;
 }
 .md-top-bar__mobile-menu-button-home {
    margin-right:1rem;
    padding: 1.85rem 0;
    color: #000000;
  }
  .md-top-bar__logged-out-mobile{
    margin: 1rem;
    text-align: right;
  }
  .md-top-bar__log-out-mobile{
    margin: -.5rem .5rem 0 0;
    width:30%;
    text-align: right;
  } 
  footer .container .copyright {
    width: 100%;
    padding: 1em .25em .25em 1.25em;
    font-size: .8em;
    line-height: 1.25em;
  }
  .toolbox-logo-img {
    max-height:2rem;
    margin-right:.5rem;
  }
  .workplace-trans-col {
    padding: 0;
  }
  .workplace-trans-col h3 {
    font-size: 1.25rem;
  }
  .right-card-section h4 {
    font-size: 1em;
    line-height: 1.2rem;
  }
  .hr-divider {
    margin: 20px 0 !important;
    border: 1px solid #10264d !important;
  }
  .card-image {
    padding: 0 0 1rem 0 !important;
  }
}

 /* Small  641px to Medium 1024px  screen 
    481px — 768px: iPads, Tablets. (iPad, Surface Duo, 
    769px — 1024px: Small screens, laptops (iPad Pro)
 */
@media only screen and (min-width:40.0625em) and (max-width:64em) {

  .component-card {
    flex: 0 0 29vw;
  }
  .workplace-trans-col {
      padding: 0;
  }
  .medium-9 {
    width: 100%
  }
  .workplace-transformation {
      border:1px solid rgb(251, 171, 24);
      border-radius:8px;
      margin:4rem 0 0 0;
  }
  .md h3 {
      font-size: 1rem;
  }
  .md-top-bar__user {
      display: flex;
      align-items: center;
    }
  .md-top-bar__user .md-avatar {
      margin-left: 0.75rem;
  }
  .md-top-bar__logged-out-mobile{
      margin: 1rem;
      text-align: right;
  }
  .md-top-bar__mobile-menu-button-home {
      margin-right:1rem;
      padding: 1.85rem 0;
      border-bottom: 3px solid #16bbe9;
      color: #000000;
  }
  .md-top-bar__mobile-menu-button {
    background-color: #10264d;
    padding: 1.85rem 0;
    border-bottom: 3px solid #16bbe9;
    color: #ffffff;
  }   
  .medium-3-cards {
    width: 33%;
    max-width: 33%;
  }
  .right-cards {
    display:flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }
  .right-cards-md-card {
    width: 98%;
  }
  .right-cards-md-card-container {
    width:98%
  }
  .right-cards-md-card {
    flex: 0 0 30vw;
  }
  .right-cards-md-card-section {
    padding: 0px;
    display: flex;
  }
  .section-drk-blue {
    height: 4rem;
  }
  .md-step {
    height:25rem;
  }
  .card-image {
    margin: 0;
    padding: 0 0 1rem 0 !important;
  }
}


/* Medium 1025px to Large 1441px screen */
@media only screen and (min-width:64.0625em) and (max-width:90em) {

  .component-card {
    flex: 0 0 25vw;
  }

}

 /* Large only 1441px to 1921px  */
@media only screen and (min-width:90.0625em) and (min-width:120.0625em) {

  .component-card {
    flex: 0 0 19vw;
  }

}

 /* XLarge 1921px and up screen  */
@media only screen and (min-width:120.0625em) {

  .component-card {
    flex: 0 0 21vw;
  }

} 

 /* iPad Pro  82.5em/1320 px high */
@media screen and (min-width: 64em) and (min-height:  82.5em) {
   
}

 /* Laptop 1310px/81.875em high */
@media screen and (min-width: 64em) and (max-height: 81.875em) {
   

  .component-card {
    flex: 0 0 19vw;
  }

}


/* medium and up devices
   e.g. iPad is too small @1024
   64.0625em === 1025px
 */
@media only screen and (min-width:64.0625em) {
  .md-page-header__title {
    margin-bottom: 0.5rem;
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.25rem !important;
    line-height: 1.33334 !important;
    margin-top: 0.5rem; 
  }
  .workplace-trans-col {
    padding: 0;
    margin-bottom:-2rem;
  }
  .workplace-transformation {
    border:1px solid rgb(251, 171, 24);
    border-radius:8px;
    margin:5rem 0 0 0;
  }
  .pad-left {
    padding: 0 0 0 1rem;
  }
  .md h3 {
    font-size: 1.625rem;
  }
  .page-title {
    margin-bottom: 0.5rem;
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.25rem !important;
    line-height: 1.33334 !important;
    margin-top: 0.5rem;
  }
  .md-top-bar__logged-out-mobile {
      display:none;
  }
  .right-cards-md-card-container {
    margin-top: .4rem;
  }

} 

