@import '~@momentum-ui/core/scss/colors/settings-base';

// fix colors for pastel badges
// Blue pastel badge colors
$badge--blue-pastel__font-color: $md-theme-50 !default;

// Mint badge colors
$badge--mint-pastel__font-color: $md-mint-50 !default;

// Green pastel badge colors
$badge--green-pastel__font-color: $md-green-50 !default;

// Yellow pastel badge colors
$badge--yellow-pastel__font-color: $md-yellow-50 !default;

// Red pastel badge colors
$badge--red-pastel__font-color: $md-red-60 !default;

// Gray pastel badge colors
$badge--gray-pastel__background-color: $md-gray-20 !default;
$badge--gray-pastel__font-color: $md-gray-70 !default;

$brand-font-folder: '~@momentum-ui/core/fonts';
$icon-font-path: '~@momentum-ui/icons/fonts';
$images-path: '~@momentum-ui/core/images';

// load momentum style
@import '~@momentum-ui/core/scss/momentum-ui';

// Material Design Icons (https://materialdesignicons.com/)
$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/materialdesignicons.scss';

// font-awesome icons
// fa-font-path: "~font-awesome/fonts/";
// @import "~font-awesome/scss/font-awesome";

// a light grey overlay for things like loading screens
div.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-around;
}

// maintain aspect ratio of the persona avatar images 
div.persona-avatar > img {
  object-fit: cover;
}

// increase size of tab bottom-border to make tabs more distinct
.md-tab--tabs {
  .md-tab__item {
    > a {
      margin-right: 2em;
      border-bottom: 2px solid $md-gray-30;

      &:hover {
        border-bottom: 4px solid $md-gray-30;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        border-bottom: 4px solid $md-theme-50;
      }
    }
  }
}

// make text area background always white instead of hover = grey
.md-input-container .md-input:hover,
.md-input-container .md-input.md-hover {
  background-color: $input__background;
  opacity: 1; /* Firefox */
}

// make the input placeholder text a lighter gray
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $md-gray-40 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $md-gray-40 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $md-gray-40 !important;
}

// make drop-down selections white background, gray border, and darker text
.md-select__input,
.md-select .md-button,
.md-select__input:active,
.md-select__input.active,
.md-select .md-button:active,
.md-select .md-button.active,
.md-select__input:hover,
.md-select .md-button:hover {
  background-color: $input__background;
  color: $md-gray-100;
  border: 1px solid $md-gray-50;
}

// make the top search bar white when not active
.md-top-bar__nav .md-search-input input {
  // background-color: $input__background;
}

// blueprint editor input field rows
.editor-row {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  /* align-items: baseline; */
  align-items: center;
}

// add info messages style for md-input
.md-input-container {
  &.md-info {
    div.ellipsis > span.icon {
      ::before {
        @include icon-info_16;
      }

      font-size: 0.75rem;
      color: $md-mint-50;
    }

    div.ellipsis,
    div.message {
      color: $md-mint-50;
    }

    div.message,
    .select-toggle {
      border: 1px solid $md-mint-50;
    }

    .md-input__messages {
      display: block;
      color: $md-mint-70;

      ::before {
        color: $md-mint-50;
        @include icon-info_16;
      }
    }
  }
}

// add default messages style for md-input
.md-input-container {
  &.md-default {
    div.ellipsis > span.icon {
      ::before {
        @include icon-info_16;
      }

      font-size: 0.75rem;
      color: $md-gray-50;
    }

    div.ellipsis,
    div.message {
      color: $md-gray-50;
    }

    div.message,
    .select-toggle {
      border: 1px solid $md-gray-50;
    }

    .md-input__messages {
      display: block;
      color: $md-gray-70;

      ::before {
        color: $md-gray-50;
        // @include icon-info_16;
      }
    }
  }
}

// display for row of tags
.tags {
  display: flex;
  justify-content: space-around;
  margin-left: -1em;
  margin-top: 0.5em;
}

// work around icons that do not have 20px size
// can be used with 16px icons, for example, to increase their size to 20px
.force-icon-20 {
  font-size: 20px !important;
  vertical-align: text-bottom;
}

// work around icons that do not have 24px size
.force-icon-24 {
  font-size: 24px !important;
  vertical-align: text-bottom;
}

// icon overlay to edit an avatar image, shows only on hover
div.edit-avatar {
  position: absolute;
  left: 11em;
  top: -1em;
  display: none;
  // display: block;
}
a:hover + div.edit-avatar {
  display: block;
}

// put a light grey border circle around avatar images
.md-avatar .md-avatar__img {
  border: 2px solid #dedede;
  background-color: #ffffff !important;
  padding: 4px;
}
// increase default size of xlarge avatar images
.md-avatar.md-avatar--xlarge {
  width: 6rem;
  height: 6rem;
}

// hide text overflow with ellipsis
.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// make md-sidebar hide behind b-dialog
.md-sidebar {
  z-index: 40;
}
